SITE_URL=https://svet-lotosa.tilda.ws/
EMAIL_TO=buddhismjd@gmail.com
MIN_SEARCH_SCORE=2
AI_PROVIDER=local
OLLAMA_MODEL=qwen2.5:3b
OLLAMA_URL=http://localhost:11434/api/generate
TILDA_PUBLIC_KEY=
TILDA_SECRET_KEY=
TILDA_PROJECT_ID=

TILDA_PUBLIC_KEY=4ht1gt1sjwehw1i0h8gb
TILDA_SECRET_KEY=9220a264eee8f8995a8f
TILDA_PROJECT_ID=